# Rust/Cargo
/target
**/*.rs.bk
Cargo.lock

# Ghostwriter
*.md.backup

# Visual Studio Code
*.code-workspace
.vscode

# Profiling data
perf.data
perf.data.old

# Development Test Vectors
testvec/*/**/*.aac
testvec/*/**/*.flac
testvec/*/**/*.m4a
testvec/*/**/*.mp3
testvec/*/**/*.mp4
testvec/*/**/*.ogg
testvec/*/**/*.opus
testvec/*/**/*.wav
testvec/*/**/*.mov

# Benchmarking Files
benchtest/*.aac
benchtest/*.flac
benchtest/*.m4a
benchtest/*.mp3
benchtest/*.mp4
benchtest/*.ogg
benchtest/*.opus
benchtest/*.wav

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.directory

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
*.lnk
