
[package]
name = "symphonia-fuzz"
publish = false
# Common package metadata located in workspace Cargo.toml.
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = "0.4"

[dependencies.symphonia]
path = ".."
default-features = false
features = ["all"]

# Prevent this from interfering with workspaces
[workspace]
members = ["."]

[[bin]]
name = "decode_any"
path = "fuzz_targets/decode_any.rs"
test = false
doc = false

[[bin]]
name = "decode_mp3"
path = "fuzz_targets/decode_mp3.rs"
test = false
doc = false
